---
layout: su3
title: Строительное управление №3
description: "Группа компаний «Строительное управление №3» основана в 2013 году, входящее в СРО НП «Саморегулируемая организация «Объединение строителей Тульской области», имеет допуски ко всем видам проектных работ является гарантом высокого качества."
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
<h1 class="h2">{{ page.title }}</h1><p>
	
	
	Группа компаний «Строительное управление №3» основана в 2013 году, входящее в СРО НП «Саморегулируемая организация «Объединение строителей Тульской области», имеет допуски ко всем видам проектных работ является гарантом высокого качества.</p>

<p>Мы осуществляем все этапы проектирования собственными силами, без привлечения субподрядчиков.</p>

<p>Виды услуг:</p>

<ul>
	<li>Разработка проектно-сметной документации (эскизный проект, архитектурно-градостроительное решение, стадии «проектная документация», «рабочая документация», сводные сметные расчеты, локальные сметы)</li>
	<li>Авторский надзор</li>
	<li>Сопровождение исходно-разрешительной документации</li>
	<li>Сопровождение проекта при экспертизе и согласовании на всех этапах</li>
	<li>Разработка ТЭО</li>
	<li>Участие и составление бизнес-планов</li>
	<li>Консультации по вопросам проектирования и строительства.</li>
</ul>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; В наш динамичный век ГК «Строительное управление №3» проектирует уникальные общественные и жилые здания, комплексные проекты застроек жилых районов, промышленные здания и сооружения, пропагандирует наиболее прогрессивные тенденции современной архитектуры, работает над обширными программами на будущие годы.</p>

<p><strong>Группа компаний «Строительное управление №3»</strong> имеет деловых партнеров среди крупнейших отечественных фирм.</p>

<p>Сейчас в деловых кругах понимают значение и стоимость недвижимости, поэтому вложение инвестиций в перспективные объекты, которые проектирует<strong> ГК «Строительное управление №3»</strong>, — это разумное помещение средств и возможность прикоснуться к истории, формируя облик нашей страны.</p>

<p><strong>Одними из наших заказчиков являются:</strong></p>

<table class="table-striped table">
	<tbody>
		<tr>
			<td><strong>ПАО "НК "Роснефть"</strong></td>
		</tr>
		<tr>
			<td>Управление образования администрации г. Тула</td>
		</tr>
		<tr>
			<td>Администрации муниципальных образований Киреевского района Тульской обл., Ясногорского района Тульской обл., Ленинского района Тульской обл, Арсеньевского района Тульской обл, Теплинского района Тульской области</td>
		</tr>
		<tr>
			<td>Фонд капитального ремонта Тульской области</td>
		</tr>
		<tr>
			<td>Государственное учреждение социального обслуживания населения Тульской области «Социально-реабилитационный центр для несовершеннолетних № 2 города Тулы»</td>
		</tr>
		<tr>
			<td>МДОУ "Киреевский д/с "Уголек" г. Киреевск</td>
		</tr>
		<tr>
			<td>ГАУ ТО "Проектная контора"</td>
		</tr>
		<tr>
			<td>ГПОК ТО "Тульский экономический колледж"</td>
		</tr>
		<tr>
			<td>ООО "Стальпроект"</td>
		</tr>
		<tr>
			<td>МБОУ №6 им . К.Д. Ушинского г.Тула</td>
		</tr>
		<tr>
			<td>ГОУ НПО ТО " Профессиональный училище № 34» г.Суворов</td>
		</tr>
		<tr>
			<td>МОУ «Самарская средняя общеобразовательная школа»</td>
		</tr>
		<tr>
			<td>МОУ «Ивановская средняя общеобразовательная школа»</td>
		</tr>
		<tr>
			<td>МКОУ «Михайловская СОШ»</td>
		</tr>
		<tr>
			<td>МКОУ «Болоховская СОШ №1" Киреевский район, г. Болохово</td>
		</tr>
		<tr>
			<td>МКОУ "СШ №9" г.Ефремов</td>
		</tr>
		<tr>
			<td>Государственное учреждение здравоохранения «Детская инфекционная больница № 2 г. Тулы»</td>
		</tr>
		<tr>
			<td>Муниципальное бюджетное оздоровительное учреждение «Орленок»</td>
		</tr>
		<tr>
			<td>Государственное учреждение здравоохранения «Тульская областная больница № 2 им. Л. Н. Толстого»</td>
		</tr>
		<tr>
			<td>Государственное профессиональное образовательное учреждение Тульской области «Тульский государственных машиностроительный колледж имени Никиты Демидова»( ГПОУ ТО «ТГМК им. Н. Демидова»</td>
		</tr>
		<tr>
			<td>Общество с ограниченной ответственностью «АйТи Групп»</td>
		</tr>
		<tr>
			<td>МБОУ «Детский сад комбинированного вида № 18» г.Донской</td>
		</tr>
		<tr>
			<td>МБОУ «Центр образования № 4»</td>
		</tr>
		<tr>
			<td>ГУЗ ТО «ТОДПБ»</td>
		</tr>
		<tr>
			<td>Муниципальное учреждение культуры Дом культуры поселка Арсеньевскийрайон Тульской обл.</td>
		</tr>
		<tr>
			<td>ООО "Генезис-Рус"</td>
		</tr>
		<tr>
			<td>ООО "ПК "Веста"</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>и многие другие.</p>

<p>Также нашими заказчиками являются предприниматели малого бизнеса и частные лица.</p>
											


{% include su3-vidy-uslugi.html %}



											</div>
				</div>
			</div>
		</div>
	</div>
