{% capture site_cats %}{% for cat in site.categories %}{{ cat | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign cats_list = site_cats | split:',' | sort %}

<div class="header-menu header-menu-top">
    <ul class="header-item-container">
      <li class="header-item-title header-toggle "><a href="#menu"><h2><i class="fa fa-bars"></i></h2></a></li>
      <li class="header-item-title">
        <a href="{{site.url}}/">
          {% if site.logo %}
            <img class="logo" src="{{site.url}}/{{ site.logo }}" alt="{{ site.title }}">
          {% endif %}
          <a href="{{site.url}}/" class="title"></a>
        </a>
      </li>
      {% for menu in site.menu reversed %}
        {% assign class = nil %}
        {% if ((page.url contains menu.url and menu.url != '/') or (page.url == '/index.html' and menu.url == '/')) %}
          {% assign class = 'active' %}
        {% endif %}

        {% if menu.type == 'categories' %}
          <li class="header-item {{class}}"><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a>
            <ul class="header-submenu">
              {% for item in (0..site.categories.size) %}{% unless forloop.last %}
                {% capture this_word %}{{ cats_list[item] | strip_newlines }}{% endcapture %}
                  <li class="sub-item"><a href="{{site.url}}/categories/#{{this_word}}">{{this_word}}</a></li>
              {% endunless %}{% endfor %}
            </ul>
          </li>
        {% elsif menu.submenu %}
          <li class="header-item {{class}}"><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a>
            <ul class="header-submenu">
              {% for sub in menu.submenu %}
                <li class="sub-item"><a href="{{site.url}}{{sub.url}}">{{sub.title}}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
            {% if menu.url contains 'http://' or menu.url contains 'https://' %}
                <li class="header-item {{class}}"><a href="{{menu.url}}" target="_blank"><h3>{{ menu.title }}</h3></a></li>
            {% else %}
                <li class="header-item {{class}}"><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a></li>
            {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
<div class="entry-header">
  <div class="header-title">
    <div class="header-title-wrap">
      <img src="{{ site.url }}/images//4063bg.jpg" style="display: block; max-width: 100%; height: auto;}">
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->


<nav id="menu" style="display: none">
  <ul>
    {% for menu in site.menu %}
      {% if menu.type == 'categories' %}
        <li><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a>
          <ul>
            {% for item in (0..site.categories.size) %}{% unless forloop.last %}
              {% capture this_word %}{{ cats_list[item] | strip_newlines }}{% endcapture %}
                <li><a href="{{site.url}}/categories/#{{this_word}}">{{this_word}}</a></li>
            {% endunless %}{% endfor %}
          </ul>
        </li>
      {% elsif menu.submenu %}
        <li><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a>
          <ul>
            {% for sub in menu.submenu %}
              <li><a href="{{site.url}}{{sub.url}}">{{sub.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<div class="entry-header">
  <div class="header-title">
    <div class="header-title-wrap">
		
		<style>
		.col_20 {
		width: 20%;
		float: left;
		padding: 0px 15px;
		}
		div.img_block img {
		width: 100px;
		margin: 0 auto;
		display: block;
		}
		p.ttl
		{
		font-weight: 800 !important;
		font-size: 20px;
		line-height: 130%;
		margin: 0px 0;
		width: 100%;
		float: left;
		color: #fff;
		text-align: center;
		}
		
		</style>
<div class="" style="padding-left: 35px;">
						<div class="col_20 img_block" style="width:16%;">
							<a href="/cat/uslugi/proecti/">
								<img src="{{ site.url }}/images/menu_left/27271.png">
								<p class="ttl">Проектные<br><span>работы</span></p>
							</a>
						</div>
												<div class="col_20 img_block" style="width:16%;">
							<a href="/cat/uslugi/smeta/">
								<img src="{{ site.url }}/images/menu_left/2.png">
								<p class="ttl">Сметная<br><span>документация</span></p>
							</a>
						</div>
												<div class="col_20 img_block" style="width:16%;">
							<a href="/cat/uslugi/stroyka/">
								<img src="{{ site.url }}/images/menu_left/3.png">
								<p class="ttl">Строительные<br><span>работы</span></p>
							</a>
						</div>
												<div class="col_20 img_block" style="width:16%;">
							<a href="/cat/uslugi/ekspertiza/">
								<img src="{{ site.url }}/images/menu_left/building-1-300x300.png">
								<p class="ttl">Техническая<br><span>экспертиза</span></p>
							</a>
						</div>
												<div class="col_20 img_block" style="width:16%;">
							<a href="/cat/uslugi/proekt/">
								<img src="{{ site.url }}/images/menu_left/5.png">
								<p class="ttl">Разработка<br><span>дизайн-проектов</span></p>
							</a>
						</div>
												<div class="col_20 img_block" style="width:16%;">
							<a href="/cat/uslugi/plastik_okna/">
								<img src="{{ site.url }}/images/menu_left/measuring-tape-icon-2874 kopija.png">
								<p class="ttl">Продажа<br><span>пластиковых окон</span></p>
							</a>
						</div>
					</div>
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->
