	<!--meta-->
	<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	{% if page.tags %}
	<meta name="keywords" content="{{ page.tags | join: ', ' }}">
	{% endif %}
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">	
	<meta name="viewport" content="width=1250">
	{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
<meta name="yandex-verification" content="65311a469e3d9bbf" />
<meta name="yandex-verification" content="5fc6658886da7d1b" />

		<script>
		if (window.location.href.indexOf('http://www.tula-su3.ru') === 0) {
		window.location.href = '{{ canonical }}';
		}
		</script>



	<!--fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"-->
	<link rel="stylesheet" href="{{ site.url }}/su3/fonts/stylesheet.css" type="text/css">	
	<link rel="stylesheet" href="{{ site.url }}/su3/css/font-awesome.css" type="text/css">	
	<style type="text/css">
		body{
			font-family: 'blogger_sanslight';
		}
	</style>
	
	<!-- Open Graph -->
	<meta property="og:locale" content="{{ site.locale }}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:site_name" content="{{ site.title }}">
	
	<!--js-->
	<script type="text/javascript" async="" src="https://mc.yandex.ru/metrika/watch.js"></script><script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="{{ site.url }}/su3/js/bootstrap.min.js"></script>
	<script src="{{ site.url }}/su3/js/send_form.js"></script>
	<script type="text/javascript" src="{{ site.url }}/su3/js/fancybox/jquery.fancybox.pack.js"></script>
	<script>
		$(document).ready(function() {
			$("a.fancyimage").fancybox();
		});
	</script>
	
	<!--css-->
	<link href="{{ site.url }}/su3/js/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="{{ site.url }}/su3/css/bootstrap.css" rel="stylesheet">
	<link href="{{ site.url }}/su3/css/dopstyle.css" rel="stylesheet" media="screen">

<style type="text/css">.fancybox-margin{margin-right:0px;}</style>
