<div class="container-fulid cnvs">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="">
																		<div class="col_20 img_block" style="width:16%;">
							<a href="{{ site.url }}/cat/uslugi/proecti/">
								<img src="{{ site.url }}/images/menu_left/27271.png">
								<p class="ttl">Проектные<br><span>работы</span></p>
							</a>
						</div>
												<div class="col_20 img_block" style="width:16%;">
							<a href="{{ site.url }}/cat/uslugi/smeta/">
								<img src="{{ site.url }}/images/menu_left/2.png">
								<p class="ttl">Сметная<br><span>документация</span></p>
							</a>
						</div>
												<div class="col_20 img_block" style="width:16%;">
							<a href="{{ site.url }}/cat/uslugi/stroyka/">
								<img src="{{ site.url }}/images/menu_left/3.png">
								<p class="ttl">Строительные<br><span>работы</span></p>
							</a>
						</div>
												<div class="col_20 img_block" style="width:16%;">
							<a href="{{ site.url }}/cat/uslugi/ekspertiza/">
								<img src="{{ site.url }}/images/menu_left/building-1-300x300.png">
								<p class="ttl">Техническая<br><span>экспертиза</span></p>
							</a>
						</div>
												<div class="col_20 img_block" style="width:16%;">
							<a href="{{ site.url }}/cat/uslugi/proekt/">
								<img src="{{ site.url }}/images/menu_left/5.png">
								<p class="ttl">Разработка<br><span>дизайн-проектов</span></p>
							</a>
						</div>
												<div class="col_20 img_block" style="width:16%;">
							<a href="{{ site.url }}/cat/uslugi/plastik_okna/">
								<img src="{{ site.url }}/images/menu_left/measuring-tape-icon-2874 kopija.png">
								<p class="ttl">Продажа<br><span>пластиковых окон</span></p>
							</a>
						</div>
											</div>
				</div>
			</div>
		</div>
	</div>
