<div class="container-fulid cnvs">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<a href="{{ site.url }}/"><img src="{{ site.url }}/images/logo.png"></a>
				</div>
				<div class="col-xs-4">
					<p class="phone"><i class="fa fa-map-marker" aria-hidden="true"></i> г. Тула, ул. Михеева, д. 17, оф. 411</p>
					<p class="phone"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> tula-su3@mail.ru</p>
				</div>
				<div class="col-xs-3">
					<p class="phone"><i class="fa fa-phone" aria-hidden="true"></i> +7 (4872) 70-42-07</p>
					<p class="phone"><i class="fa fa-phone" aria-hidden="true"></i> +7 (4872) 70-42-07</p>
				</div>
				<!-- Обратный звонок
				<div class="col-xs-2">
					<button class="btn btn-primary" data-toggle="modal" data-target="#call">Обратный звонок</button>
				</div>
				 -->
			</div>
		</div>
	</div>
	
	
	<script>
$(document).ready(function () {
  $(".nav a.dropdown-toggle").click(function(e){
    var href = $(this).attr('href');
    location.href = href;
  });
});
</script>


<div class="container-fulid menu_bg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<nav role="navigation" class="navbar navbar-inverse">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collection of nav links and other content for toggling -->
						<div id="navbarCollapse" class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
																<li class="  active"><a href="{{ site.url }}/">Главная </a>
																	</li>
																<li class="dropdown "><a data-toggle="dropdown" class="dropdown-toggle" href="{{ site.url }}/cat/uslugi/">Виды услуг <b class="caret"></b></a>
																		<ul role="menu" class="dropdown-menu">
																				<li class=""><a href="{{ site.url }}/cat/uslugi/proecti/">Проектные работы</a></li>
																				<li class=""><a href="{{ site.url }}/cat/uslugi/smeta/">Сметная документация</a></li>
																				<li class=""><a href="{{ site.url }}/cat/uslugi/stroyka/">Строительные работы</a></li>
																				<li class=""><a href="{{ site.url }}/cat/uslugi/reconstrukciya/">Реконструкция</a></li>
																				<li class=""><a href="{{ site.url }}/cat/uslugi/proekt/">Разработка дизайн-проектов</a></li>
																				<li class=""><a href="{{ site.url }}/cat/uslugi/plastik_okna/">Продажа пластиковых окон</a></li>
																				<li class=""><a href="{{ site.url }}/cat/uslugi/stroyka/lesa/">Аренда строительных лесов</a></li>
																				<li class=""><a href="{{ site.url }}/cat/uslugi/ekspertiza/">Техническая экспертиза</a></li>
																			</ul>
																	</li>
																<li class="dropdown "><a data-toggle="dropdown" class="dropdown-toggle" href="{{ site.url }}/cat/etapi/">Этапы работ <b class="caret"></b></a>
																		<ul role="menu" class="dropdown-menu">
																				<li class=""><a href="{{ site.url }}/cat/etapi/budjetnie/">Бюджетные организации</a></li>
																				<li class=""><a href="{{ site.url }}/cat/etapi/komercial/">Коммерческие организации</a></li>
																			</ul>
																	</li>
																<li class=" "><a href="{{ site.url }}/cat/klients/">Наши клиенты </a>
																	</li>
																<li class=" "><a href="{{ site.url }}/cat/docs/">Документы </a>
																	</li>
																<li class=" "><a href="{{ site.url }}/cat/contacts/">Контакты </a>
																	</li>
															</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
