
<div class="row">
							<div class="col-xs-12">
							<hr>
								<h2>Виды наших услуг</h2>
							</div>
														<div class="col-xs-4">
								<div class="text_pred">
									<div class="text_pred_zag">
										<p>Проектные работы</p>
									</div>
									<div class="text_pred_img">
																				<img src="{{ site.url }}/images/cat/1424292851_4f5c2518c27205d150efefce3529104d.jpg" class="img-responsive" style="height: 200px;">
																			</div>
									<div class="text_pred_info">
																				<a class="btn btn-primary" href="{{ site.url }}/cat/uslugi/proecti/">Подробнее...</a>
									</div>
								</div>
							</div>
														<div class="col-xs-4">
								<div class="text_pred">
									<div class="text_pred_zag">
										<p>Техническая экспертиза</p>
									</div>
									<div class="text_pred_img">
																				<img src="{{ site.url }}/images/cat/000034.jpg" class="img-responsive" style="height: 200px;">
																			</div>
									<div class="text_pred_info">
																				<a class="btn btn-primary" href="{{ site.url }}/cat/uslugi/ekspertiza/">Подробнее...</a>
									</div>
								</div>
							</div>
														<div class="col-xs-4">
								<div class="text_pred">
									<div class="text_pred_zag">
										<p>Архитектурное проектирование в Туле</p>
									</div>
									<div class="text_pred_img">
																				<img src="{{ site.url }}/images/cat/1.20.2.4______________________________________________.jpg" class="img-responsive" style="height: 200px;">
																			</div>
									<div class="text_pred_info">
																				<a class="btn btn-primary" href="{{ site.url }}/cat/uslugi/proekt/">Подробнее...</a>
									</div>
								</div>
							</div>
														<div class="col-xs-4">
								<div class="text_pred">
									<div class="text_pred_zag">
										<p>Реконструкция в Туле</p>
									</div>
									<div class="text_pred_img">
																				<img src="{{ site.url }}/images/cat/zdanie1.jpg" class="img-responsive" style="height: 200px;">
																			</div>
									<div class="text_pred_info">
																				<a class="btn btn-primary" href="{{ site.url }}/cat/uslugi/reconstrukciya/">Подробнее...</a>
									</div>
								</div>
							</div>
														<div class="col-xs-4">
								<div class="text_pred">
									<div class="text_pred_zag">
										<p>Сметная документация</p>
									</div>
									<div class="text_pred_img">
																				<img src="{{ site.url }}/images/cat/sostavleniesmety.jpg" class="img-responsive" style="height: 200px;">
																			</div>
									<div class="text_pred_info">
																				<a class="btn btn-primary" href="{{ site.url }}/cat/uslugi/smeta/">Подробнее...</a>
									</div>
								</div>
							</div>
														<div class="col-xs-4">
								<div class="text_pred">
									<div class="text_pred_zag">
										<p>Строительные работы в Туле</p>
									</div>
									<div class="text_pred_img">
																				<img src="{{ site.url }}/images/cat/1449689798_rem.jpg" class="img-responsive" style="height: 200px;">
																			</div>
									<div class="text_pred_info">
																				<a class="btn btn-primary" href="{{ site.url }}/cat/uslugi/stroyka/">Подробнее...</a>
									</div>
								</div>
							</div>
														<div class="col-xs-4">
								<div class="text_pred">
									<div class="text_pred_zag">
										<p>Собственное производство пластиковых окон</p>
									</div>
									<div class="text_pred_img">
																				<img src="{{ site.url }}/images/cat/proizvodstvo-zavod-okon-veka2.png" class="img-responsive" style="height: 200px;">
																			</div>
									<div class="text_pred_info">
																				<a class="btn btn-primary" href="{{ site.url }}{{ site.url }}/cat/uslugi/plastik_okna/">Подробнее...</a>
									</div>
								</div>
							</div>
														<div class="col-xs-4">
								<div class="text_pred">
									<div class="text_pred_zag">
										<p>Аренда строительных лесов</p>
									</div>
									<div class="text_pred_img">
																				<img src="{{ site.url }}/images/cat/3 (1).jpg" class="img-responsive" style="height: 200px;">
																			</div>
									<div class="text_pred_info">
																				<a class="btn btn-primary" href="{{ site.url }}{{ site.url }}/cat/uslugi/stroyka/lesa/">Подробнее...</a>
									</div>
								</div>
							</div>
						</div>
