<div class="container-fulid cnvs">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="">
						<div class="col_44">
							<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4de0a3658fd832b88d52cd5c1b5af3dd7921e15a4352e343fe257b8c175ce79a&amp;source=constructor" width="100%" height="190" frameborder="0"></iframe>
						</div>
						<div class="col_22">
							<div class="footer_menu">
								<div class="footer_menu_contant">
									<ul>
																				<li active=""><a href="{{ site.url }}/">Главная</a></li>
																				<li><a href="{{ site.url }}/cat/uslugi/">Виды услуг</a></li>
																				<li><a href="{{ site.url }}/cat/etapi/">Этапы работ</a></li>
																				<li><a href="{{ site.url }}/cat/klients/">Наши клиенты</a></li>
																				<li><a href="{{ site.url }}/cat/docs/">Документы</a></li>
																				<li><a href="{{ site.url }}/cat/contacts/">Контакты</a></li>
																			</ul>
								</div>
							</div>
						</div>
						<div class="col_34">
							<div class="footer_menu">
								<div class="footer_menu_header">
									<p>О НАС</p>
								</div>
								<div class="footer_menu_contant">
									<p><b>ГК Строительное управление №3</b></p>
									<p><i class="fa fa-phone" aria-hidden="true"></i> +7 (4872) 70-42-07</p>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> г. Тула, ул. Михеева, д. 17, оф. 411</p>
									<p><i class="fa fa-envelope-open-o" aria-hidden="true"></i> <a href="mailto:tula-su3@mail.ru">tula-su3@mail.ru</a></p>								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<p class="footer_white">&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. Создание и продвижение <a href="https://www.kingy.ru">www.kingy.ru</a></p>
				</div>
			</div>
		</div>
	</div>
