<div class="container-fulid">
		<div class="">
			<div class="row">
				<div class="col-xs-12">
					<!-- Карусель -->
					<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
						<ol class="carousel-indicators">
														<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
													</ol>   
						<div class="carousel-inner">
														<div class="active item">
									<img src="{{ site.url }}/images/4063bg.jpg" class="img-responsive">
								<div class="carousel-caption"></div>
							</div>
													</div>
						<a class="carousel-control left" href="#myCarousel" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
