---
layout: su3
title: Контакты
description: "Группа компаний «Строительное управление №3» основана в 2013 году, входящее в СРО НП «Саморегулируемая организация «Объединение строителей Тульской области», имеет допуски ко всем видам проектных работ является гарантом высокого качества."
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
	
			<div class="row">
				<div class="col-xs-12 crumbs">
					<a href="{{ site.url }}/">Главная</a> / {{ page.title }}				</div>
				<div class="col-xs-12">
					<h1 class="h2">{{ page.title }}</h1>
										
					<h2 style="text-align: center;"><b>ГК Строительное управление №3</b></h2>

<div class="col-xs-8">
<p><span style="font-size:18px;"><i aria-hidden="true" class="fa fa-phone">&nbsp;</i> +7 (4872) 70-42-07</span></p>

<p><span style="font-size:18px;"><i aria-hidden="true" class="fa fa-map-marker">&nbsp;</i> г. Тула, ул. Михеева, д. 17, оф. 411</span></p>

<p><span style="font-size:18px;"><i aria-hidden="true" class="fa fa-envelope-open-o">&nbsp;</i> <a href="mailto:tula-su3@mail.ru">tula-su3@mail.ru</a></span></p>
</div>


<!-- Обратный звонок
<div class="col-xs-4">
<div class="modal-content" role="form">
<div class="modal-header">
<h4 class="modal-title" id="myModalLabel">заказать звонок</h4>
</div>

<div class="modal-body">
<div class="row">
<div class="col-xs-12">
<form class="form-horizontal">
<div class="form-group"><input class="form-control" id="lastName" name="name" placeholder="Введите Ф.И.О. " required="true" type="text"></div>

<div class="form-group"><input class="form-control" id="phoneNumber" name="phone" placeholder="Введите номер телефона" required="true" type="tel"></div>

<div class="form-group"><textarea class="form-control" id="" name="text" placeholder="Коментарий" type="tel"></textarea></div>
</form>
</div>
</div>
</div>

<div class="modal-footer"><button class="btn btn-primary" role="send_msg" type="button">Заказать звонок</button></div>
</div>
</div>
-->

<div class="clearfix">&nbsp;</div>

<p><iframe frameborder="0" height="400" src="https://api-maps.yandex.ru/frame/v1/-/CZHpiP5V" width="100%"></iframe></p>
				</div>
			</div>
			
				<style> 
				.thumb img { 
				  filter: none; /* IE6-9 */ 
				  -webkit-filter: grayscale(0); 
				  border-radius:5px; 
				  background-color: #fff; 
				  border: 1px solid #ddd; 
				  padding:5px; 
				} 
				.thumb img:hover { 
				  filter: gray; /* IE6-9 */ 
				  -webkit-filter: grayscale(1); 
				} 
				.thumb { 
				  padding:5px; 
				} 
				</style>
				 <div class="row"> 
				 				 				</div> 
												
											</div>
				</div>
			</div>
		</div>
	</div>
