---
layout: su3
title: Этапы работ
description: "Группа компаний «Строительное управление №3» основана в 2013 году, входящее в СРО НП «Саморегулируемая организация «Объединение строителей Тульской области», имеет допуски ко всем видам проектных работ является гарантом высокого качества."
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
	
			<div class="row">
				<div class="col-xs-12 crumbs">
					<a href="{{ site.url }}/">Главная</a> / {{ page.title }}				</div>
				<div class="col-xs-12">
					<h1 class="h2">{{ page.title }}</h1>
										
					<p>Страница находится в стадии наполнения</p>
				</div>
			</div>
			
				<style> 
				.thumb img { 
				  filter: none; /* IE6-9 */ 
				  -webkit-filter: grayscale(0); 
				  border-radius:5px; 
				  background-color: #fff; 
				  border: 1px solid #ddd; 
				  padding:5px; 
				} 
				.thumb img:hover { 
				  filter: gray; /* IE6-9 */ 
				  -webkit-filter: grayscale(1); 
				} 
				.thumb { 
				  padding:5px; 
				} 
				</style>
				 <div class="row"> 
				 				 				</div> 
													<div class="row">
							<div class="col-xs-12">
								<hr>
							</div>
														<div class="col-xs-4">
								<div class="text_pred">
									<div class="text_pred_zag">
										<p>Бюджетные организации</p>
									</div>
									<div class="text_pred_img">
																				<img src="{{ site.url }}/f/0_a6b77_ed89a07f_xxxl.jpg" class="img-responsive" style="height: 200px;">
																			</div>
									<div class="text_pred_info">
																				<a class="btn btn-primary" href="{{ site.url }}/cat/etapi/budjetnie/">Подробнее...</a>
									</div>
								</div>
							</div>
														<div class="col-xs-4">
								<div class="text_pred">
									<div class="text_pred_zag">
										<p>Коммерческие организации</p>
									</div>
									<div class="text_pred_img">
																				<img src="{{ site.url }}/f/office-11_6-1024x480.jpg" class="img-responsive" style="height: 200px;">
																			</div>
									<div class="text_pred_info">
																				<a class="btn btn-primary" href="{{ site.url }}/cat/etapi/komercial/">Подробнее...</a>
									</div>
								</div>
							</div>
													</div>
											
											</div>
				</div>
			</div>
		</div>
	</div>
