---
layout: su3
title: Наши клиенты
description: Сейчас в деловых кругах понимают значение и стоимость недвижимости, поэтому вложение инвестиций в перспективные объекты, которые проектирует ГК «Строительное управление №3», — это разумное помещение средств и возможность прикоснуться к истории, формируя облик нашей страны.
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
	
			<div class="row">
				<div class="col-xs-12 crumbs">
					<a href="{{ site.url }}/">Главная</a> / {{ page.title }}				</div>
				<div class="col-xs-12">
					<h1 class="h2">{{ page.title }}</h1>
										
					<p><strong>Группа компаний «Строительное управление №3»</strong> имеет деловых партнеров среди крупнейших отечественных фирм.</p>

<p>Сейчас в деловых кругах понимают значение и стоимость недвижимости, поэтому вложение инвестиций в перспективные объекты, которые проектирует<strong> ГК «Строительное управление №3»</strong>, — это разумное помещение средств и возможность прикоснуться к истории, формируя облик нашей страны.</p>

<p><strong>Одними из наших заказчиков являются:</strong></p>

<ul>
	<li>Управление образования администрации г. Тула</li>
	<li>Администрации муниципальных образований Киреевского района Тульской обл., Ясногорского района Тульской обл., Ленинского района Тульской обл, Арсеньевского района Тульской обл, Теплинского района Тульской области</li>
	<li>Фонд капитального ремонта Тульской области</li>
	<li>Государственное учреждение социального обслуживания населения Тульской области «Социально-реабилитационный центр для несовершеннолетних № 2 города Тулы»</li>
	<li>МДОУ "Киреевский д/с "Уголек" г. Киреевск</li>
	<li>ГАУ ТО "Проектная контора"</li>
	<li>ГПОК ТО "Тульский экономический колледж"</li>
	<li>ООО "Стальпроект"</li>
	<li>МБОУ №6 им . К.Д. Ушинского г.Тула</li>
	<li>ГОУ НПО ТО " Профессиональный училище № 34» г.Суворов</li>
	<li>МОУ «Самарская средняя общеобразовательная школа»</li>
	<li>МОУ «Ивановская средняя общеобразовательная школа»</li>
	<li>МКОУ «Михайловская СОШ»</li>
	<li>МКОУ «Болоховская СОШ №1" Киреевский район, г. Болохово</li>
	<li>МКОУ "СШ №9" г.Ефремов</li>
	<li>Государственное учреждение здравоохранения «Детская инфекционная больница № 2 г. Тулы»</li>
	<li>Муниципальное бюджетное оздоровительное учреждение «Орленок»</li>
	<li>Государственное учреждение здравоохранения «Тульская областная больница № 2 им. Л. Н. Толстого»</li>
	<li>Государственное профессиональное образовательное учреждение Тульской области «Тульский государственных машиностроительный колледж имени Никиты Демидова»( ГПОУ ТО «ТГМК им. Н. Демидова»</li>
	<li>Общество с ограниченной ответственностью «АйТи Групп»</li>
	<li>МБОУ «Детский сад комбинированного вида&nbsp; № 18» г.Донской</li>
	<li>МБОУ «Центр образования № 4»</li>
	<li>ГУЗ ТО «ТОДПБ»</li>
	<li>Муниципальное учреждение культуры Дом культуры поселка Арсеньевскийрайон Тульской обл.</li>
	<li>ООО "Генезис-Рус"</li>
	<li>ООО "ПК "Веста"</li>
	<li>и многие другие.</li>
</ul>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Также нашими заказчиками являются предприниматели малого бизнеса и частные лица.</p>
				</div>
			</div>
			
				<style> 
				.thumb img { 
				  filter: none; /* IE6-9 */ 
				  -webkit-filter: grayscale(0); 
				  border-radius:5px; 
				  background-color: #fff; 
				  border: 1px solid #ddd; 
				  padding:5px; 
				} 
				.thumb img:hover { 
				  filter: gray; /* IE6-9 */ 
				  -webkit-filter: grayscale(1); 
				} 
				.thumb { 
				  padding:5px; 
				} 
				</style>
				 <div class="row"> 
				 				 				</div> 
												
											</div>
				</div>
			</div>
		</div>
	</div>
