---
layout: su3
title: Собственное производство пластиковых окон
description: Наша компания осуществляет остекление квартир с использованием алюминиевого, пластикового и алюмодеревянного профиля отечественного и зарубежного производства. Наличие собственного производственного цеха, укомплектованного современным европейским оборудованием, и большой опыт работы позволяет нам успешно справляться с любыми задачами, в том числе такими ответственными как остекление эркера. Мы предлагаем клиентам низкие цены и короткие сроки исполнения заказов.
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
	
			<div class="row">
				<div class="col-xs-12 crumbs">
					<a href="{{ site.url }}/">Главная</a> / <a href="{{ site.url }}/cat/uslugi/">Виды услуг</a> / <a href="{{ site.url }}/cat/uslugi/stroyka/">Строительные работы в Туле</a> / {{ page.title }}				</div>
				<div class="col-xs-12">
					<h1 class="h2">{{ page.title }}</h1>
					<img src="{{ site.url }}/f/3 (1).jpg" class="img-responsive" style="margin-bottom:15px;width:100%;">					
					<p>Во время работ с высотными зданиями (окна, кровля, фасад), обычная строительная лестница утрачивает свою значимость. В таких случаях применяются строительные леса.</p>

<p>&nbsp;В Туле с их помощью специалистам удаётся сотворить настоящее чудо со стенами строительных объектов. Могут использоваться не только при отделке фасадов, но и при обработке стен внутри зданий.</p>

<p>Аренда строительных лесов пользуется большой популярностью как среди физических лиц, так и строительных компаний. Мы предлагаем выгодные условия аренды для всех клиентов. Группа компаний «Строительное управление 3» сдаёт в аренду только качественные строительные рамные леса — б/у и новые, но и вышки-туры. Почему нас выбирают? Потому что компания предлагает разумные цены на надёжные конструкции. Дополнительный плюс — простая сборка и установка (оборудование имеет небольшой вес).</p>

<h3 style="text-align: center;"><strong>Выбор средств подмащивания</strong></h3>

<p><img alt="" src="{{ site.url }}/f/post-364368-0-33679400-1312874381.jpg" style="width:200px; float:left; margin-right:10px; margin-bottom:10px;"></p>

<p>Компания предоставляет возможность приобрести строительные леса отличного качества. В наличии вспомогательные сооружения любой высоты, ширины. Прежде чем арендовать, необходимо определиться, какой именно тип конструкции нужен. Во внимание принимают такие факторы, как:</p>

<ul style="padding-left: 100px;margin-left: 150px;">
	<li>размер фасада;</li>
	<li>наличие/отсутствие нестандартных архитектурных форм;</li>
	<li>опыт работы строителей.</li>
</ul>

<p>Хомутовые леса используют тогда, когда фасады здания имеют множество декоративных элементов. Их же применяют, если работы проводятся на высоте более 60 м. Одной из самых надежных конструкций считаются клиновые леса. Они безопасны и просты в использовании. Конечно же, стоит обратить внимание и на цену, однако не смотрите на слишком дешёвые модели&nbsp; — они могут оказаться некачественными и нести опасность для здоровья работников.</p>

<p>Несмотря на то что мы предлагаем купить строительные леса б/у, клиенты могут не сомневаться в их качестве &nbsp;— все строечные модели проходят тщательную проверку и восстановление.</p>

<h3 style="text-align: center;"><strong>Выгодное сотрудничество</strong></h3>

<p>На сайте вы найдете всю необходимую информацию, которая поможет арендовать строительные леса нужного размера. Особенностью работы компании является индивидуальный подход — мы уважаем интересы клиента. Цены определяются индивидуально и зависят от объёмов.</p>

<p>Компания «СУ 3» работает уже свыше 10 лет на рынке строительных услуг. Наши услуги это не только аренда строительных материалов , но и&nbsp; выполнение монтажа различных конструкций. Чтобы узнать полный список услуг и цен на них вы можете позвонить в нашу компанию, где квалифицированный специалист даст вам полную консультацию. Помимо звонка в компанию можно воспользоваться формой заявки на сайте.&nbsp; Строительные работы с нашим оборудованием будут безопасными и легкими. Аренда строительных лесов никогда не была настолько простой!</p>

<h2 style="text-align: center;"><strong>Цены на аренду лесов для строительства</strong></h2>

<p>Сейчас снижена стоимость аренды на строительные леса и вышки. В наличие имеется большой выбор по размерам. Помимо фиксированной цены, у каждого клиента цена изменяется и зависит от размеров и объема заказа.</p>

<p>&nbsp;Цены формируются таким образом:</p>

<ul>
	<li>&nbsp;50 - 100 - 100 рубм.кв.</li>
	<li>&nbsp;100 - 200 - 90 рубм.кв.</li>
	<li>200 - 500 - 70 рубм.кв.</li>
	<li>свыше 500 - 50 рубм.кв.</li>
</ul>

<p>Одна секция 2*3=6 м.кв.</p>

<p>Арeнда строительных лeсов рамного типа в комплекте с настилами и ограждением, а также со всеми комплектующими к ним элементами от 50 руб. за м2 нa 1 месяц аренды. Можем дополнительно укомплектовать фасадной сеткой. Собрaть и разобрать на объекте заказчика. По минимально возможным ценам в Туле и тульской области</p>

<p>Возможна доставка лесов на ваш объект с оформлением документов на месте.</p>
				</div>
			</div>
			
				<style> 
				.thumb img { 
				  filter: none; /* IE6-9 */ 
				  -webkit-filter: grayscale(0); 
				  border-radius:5px; 
				  background-color: #fff; 
				  border: 1px solid #ddd; 
				  padding:5px; 
				} 
				.thumb img:hover { 
				  filter: gray; /* IE6-9 */ 
				  -webkit-filter: grayscale(1); 
				} 
				.thumb { 
				  padding:5px; 
				} 
				</style>
				 <div class="row"> 
				 				 				</div> 
												
											</div>
				</div>
			</div>
		</div>
	</div>
