---
layout: su3
title: Проведение экспертизы на предмет технического состояния зданий, сооружений
description: Обследование зданий и сооружений проводится специалистами ГК «Строительное управление №3» по заявке физических и юридических лиц.
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
	
			<div class="row">
				<div class="col-xs-12 crumbs">
					<a href="{{ site.url }}/">Главная</a> / <a href="{{ site.url }}/cat/uslugi/">Виды услуг</a> / {{ page.title }}				</div>
				<div class="col-xs-12">
					<h1 class="h2">{{ page.title }}</h1>
					<img src="{{ site.url }}/f/000034.jpg" class="img-responsive" style="margin-bottom:15px;width:100%;">					
					<p style="text-align: justify;">&nbsp;Обследование зданий и сооружений&nbsp; проводится специалистами ГК «Строительное управление №3» по заявке физических и юридических лиц в тех случая когда:</p>

<p style="text-align: justify;">- необходимо через&nbsp; суд&nbsp; узаконить самовольную постройку (пристройку), &nbsp;&nbsp;перепланировку или реконструкцию здания, т.е. в суд необходимо предоставить Заключение эксперта о техническом состоянии объекта (постройки). Заключение составляется по результатам &nbsp;визуального и инструментального обследования объекта, в котором наши специалисты делают вывод, что самовольно возведенная постройка (пристройка),перепланировка или реконструкция&nbsp; здания соответствует действующим строительным нормам и правилам, а состояние конструктивных элементов не несет угрозы жизни и здоровью людей.</p>

<ul>
	<li style="text-align: justify;">необходимо определить техническое состояние конструкций после пожара (стихийных бедствий), с целью установления опасности их обрушения при дальнейшей эксплуатации. В случае необходимости разрабатываются мероприятий по усилению конструкций.</li>
	<li style="text-align: justify;">планируется реконструкция здания, в ходе которой предполагается увеличение нагрузок на перекрытия и иные несущие конструкции</li>
	<li style="text-align: justify;">в процессе капитального ремонта планируется замена несущих конструкций</li>
	<li style="text-align: justify;">необходимо усиление фундамента</li>
	<li style="text-align: justify;">имеют место признаки усиления деформации здания (осадка или выпучивание фундамента, трещины в стенах, искривление плит перекрытий и т.п.)</li>
	<li style="text-align: justify;">планируется возобновление строительных работ на незавершенном объекте после его длительного простоя «замораживания строительства»</li>
	<li style="text-align: justify;">предстоит смена собственника объекта недвижимости</li>
	<li style="text-align: justify;">необходимо составление исполнительной документации по объекту</li>
</ul>

<p style="text-align: justify;">Обследование зданий и сооружений- это комплексное исследование, которое включает в себя контроль качества строительных работ, лабораторные испытания образцов материалов ,собранных в ходе проведения строительной экспертизы, анализ технического состояния несущих и ограждающих конструкций здания,&nbsp;&nbsp;фундамента и грунтов&nbsp;под ним.</p>

<p style="text-align: justify;">Основная задача экспертов - определить степень физического износа конструктивных элементов здания, определение их несущей способности, долговечности и выявления факторов, негативно влияющих на техническое&nbsp; состояние объекта в целом.</p>

<p style="text-align: justify;">Результатом&nbsp; работ по техническому обследованию зданий и сооружений (отдельных конструктивных элементов) является Заключение экспертов - строительно техническая экспертиза, которая содержит следующие разделы:</p>

<ul>
	<li style="text-align: justify;">общая характеристика объекта обследования с его подробным описанием</li>
	<li style="text-align: justify;">оценка технического состояния строительных конструкций и объекта в целом;</li>
	<li style="text-align: justify;">поверочные расчеты на здание в целом или отдельные конструкции</li>
	<li style="text-align: justify;">выводы о имеющихся дефектах и «слабых местах» (Дефектная ведомость)</li>
	<li style="text-align: justify;">результаты лабораторных испытаний строительных материалов.</li>
	<li style="text-align: justify;">рекомендации</li>
	<li style="text-align: justify;">фотоматериалы</li>
	<li style="text-align: justify;">выводы экспертов</li>
</ul>

<p style="text-align: justify;">&nbsp;</p>
				</div>
			</div>
			
				<style> 
				.thumb img { 
				  filter: none; /* IE6-9 */ 
				  -webkit-filter: grayscale(0); 
				  border-radius:5px; 
				  background-color: #fff; 
				  border: 1px solid #ddd; 
				  padding:5px; 
				} 
				.thumb img:hover { 
				  filter: gray; /* IE6-9 */ 
				  -webkit-filter: grayscale(1); 
				} 
				.thumb { 
				  padding:5px; 
				} 
				</style>
				 <div class="row"> 
				 				 				</div> 
												
											</div>
				</div>
			</div>
		</div>
	</div>
