---
layout: su3
title: Собственное производство пластиковых окон
description: Наша компания осуществляет остекление квартир с использованием алюминиевого, пластикового и алюмодеревянного профиля отечественного и зарубежного производства. Наличие собственного производственного цеха, укомплектованного современным европейским оборудованием, и большой опыт работы позволяет нам успешно справляться с любыми задачами, в том числе такими ответственными как остекление эркера. Мы предлагаем клиентам низкие цены и короткие сроки исполнения заказов.
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
	
			<div class="row">
				<div class="col-xs-12 crumbs">
					<a href="{{ site.url }}/">Главная</a> / <a href="{{ site.url }}/cat/uslugi/">Виды услуг</a> / {{ page.title }}				</div>
				<div class="col-xs-12">
					<h1 class="h2">{{ page.title }}</h1>
					<img src="{{ site.url }}/f/proizvodstvo-zavod-okon-veka2.png" class="img-responsive" style="margin-bottom:15px;width:100%;">					
					<p>Наша компания осуществляет остекление квартир с использованием алюминиевого, пластикового и алюмодеревянного профиля отечественного и зарубежного производства. Наличие собственного производственного цеха, укомплектованного современным европейским оборудованием, и большой опыт работы позволяет нам успешно справляться с любыми задачами, в том числе такими ответственными как остекление эркера. Мы предлагаем клиентам низкие цены и короткие сроки исполнения заказов. В нашей компании вы можете приобрести современные раздвижные окна для террасы с алюминиевым профилем по цене ниже, чем у конкурентов. Мы предлагаем изготовление конструкций с оригинальным дизайном. Помимо раздвижных систем, вы можете заказать традиционные распашные окна для террасы в одно стекло или со стеклопакетом толщиной до 41 мм (целесообразно устанавливать в случаях, когда помещения отапливаются).</p>

<h3><strong>Наши услуги</strong></h3>

<ul>
	<li>Остекление квартир</li>
	<li>Остекление балконов, лоджий</li>
	<li>Остекление домов</li>
	<li>Остекление коттеджей, веранды, террасы</li>
	<li>Остекление зданий</li>
	<li>Фасадное остекление, остекление витрин</li>
	<li>Окна для дачи, бани, беседки</li>
	<li>Пластиковые двери</li>
</ul>

<h3><strong>Как мы работаем</strong></h3>

<p><strong>Шаг 1. Замер</strong></p>

<p>Выполняется бесплатно опытным специалистом, который максимально точно определяет оптимальные габариты нужного изделия и составляет чертёж.</p>

<p><strong>Шаг 2. Изготовление</strong></p>

<p>Заказ поступает на завод компании, где выполняется профессиональная сборка деталей и комплектующих оконной конструкции из профиля выбранного вами производителя.</p>

<p><strong>Шаг 3. Доставка</strong></p>

<p>Вам нет необходимости беспокоиться о доставке. Мы точно в назначенное время привозим окна собственным транспортом и поднимаем их на нужный этаж.</p>

<p><strong>Шаг 4. Установка</strong></p>

<p>Профессиональные монтажники быстро и с полным соблюдением технологии устанавливают конструкцию в оконный проем, не оставляя лишних зазоров.</p>

<p><strong>Шаг 5. Монтаж откосов</strong></p>

<p>После установки мы обеспечиваем отделку откосов современными строительными материалами, придавая окну полностью законченный вид.</p>

<p><strong>Шаг 6. Уборка мусора</strong></p>

<p>Монтажники не оставляют строительного мусора. Они тщательно убирают, пакетируют и выносят его за пределы квартиры.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
				</div>
			</div>
			
				<style> 
				.thumb img { 
				  filter: none; /* IE6-9 */ 
				  -webkit-filter: grayscale(0); 
				  border-radius:5px; 
				  background-color: #fff; 
				  border: 1px solid #ddd; 
				  padding:5px; 
				} 
				.thumb img:hover { 
				  filter: gray; /* IE6-9 */ 
				  -webkit-filter: grayscale(1); 
				} 
				.thumb { 
				  padding:5px; 
				} 
				</style>
				 <div class="row"> 
				 				 				</div> 
												
											</div>
				</div>
			</div>
		</div>
	</div>
