---
layout: su3
title: Проектные работы
description: Начальная и самая ответственная стадия любого строительства - профессионально выполненная подготовка — гарантия безупречного результата.
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
	
			<div class="row">
				<div class="col-xs-12 crumbs">
					<a href="{{ site.url }}/">Главная</a> / <a href="{{ site.url }}/cat/uslugi/">Виды услуг</a> / {{ page.title }}				</div>
				<div class="col-xs-12">
					<h1 class="h2">{{ page.title }}</h1>
										
					<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Поиск земельного участка</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/d599e639c6ec9f96b592945f042b3f8d.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Из сотен предложений о продаже земельного участка мы выберем именно тот, который подходит по всем параметрам к типу будущего бизнеса и отличается адекватной ценой.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Эскизное проектирование</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/villa_d-ljuks.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Начальная и самая ответственная стадия любого строительства: профессионально выполненная подготовка — гарантия безупречного результата.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Инженерные изыскания</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/29615171.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Геодезические и геологические изыскания позволяют определить фактические параметры будущего сооружения, указывают на его эксплуатационные возможности и способы производства работ.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Инженерные системы</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/gvae3r223.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Это основа жизни деятельности будущего объекта, поэтому необходимо в этом вопросе обратиться к опытным профессионалам.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Проект развития земельного участка</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/2968ea53cb7ec.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Аналитические исследования, проведенные в рамках составления проекта, позволят с максимальной точностью рассчитать фактическую выгоду от эксплуатации земли.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Генеральный план</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/b_1264.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Раздел проектной документации, включающий в себя решения по планировке территории, организации рельефа и размещению инженерных коммуникаций.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Архитектурные решения</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/1346129132_042.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Обозначение функциональной составляющей, стилевую концепцию строительства. В результате спланированной работы профессионального коллектива рождается документ — эскизный проект.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Конструктивные решения</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/1345699854_konstruktiv2.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Необходимые описания, обоснования технических решений по отдельным элементам сооружения и проектированию металлоконструкций в целом.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Технологические решения</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/proiect1.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Разработка решений с учетом ключевых параметров: эффективность производства, сохранность промышленного оборудования, меры по обеспечению безопасности труда, по защите окружающей среды.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Пожарная безопасность</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/pojarnaya-bezopasnost-simferopol.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Описание необходимых действий для минимизации возможности возникновения пожара, а так же в случаи факта возгорания постараться сократить риски и реализовать максимально безопасную эвакуацию людей.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Охрана окружающей среды</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/den_ekologa.png" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Описание мер по предотвращению и снижению влияния деятельности человека на окружающую среду и рациональному использованию природных ресурсов на период строительных работ и дальнейшей эксплуатации объекта.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Проект организации строительства</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/585eb44953d8312d69dc32217a2ec3f1.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Раздел рабочей документации, в котором решаются вопросы рациональной организации строительства всего комплекса объектов строительной площадки.</p>
</div>
</div>
</div>

<div class="col-xs-4">
<div class="text_pred">
<div class="text_pred_zag">
<p>Техническое перевооружение</p>
</div>

<div class="text_pred_img"><img class="img-responsive" src="{{ site.url }}/f/abc-editor_img-158.jpg" style="height: 200px;"></div>

<div class="text_pred_info">
<p style="    height: 95px;">Повышения уровня предприятия за счет внедрения на объект новых технологических решений, автоматизации трудоемких операций, модернизации определенных технических устройств.</p>
</div>
</div>
</div>
				</div>
			</div>
			
				<style> 
				.thumb img { 
				  filter: none; /* IE6-9 */ 
				  -webkit-filter: grayscale(0); 
				  border-radius:5px; 
				  background-color: #fff; 
				  border: 1px solid #ddd; 
				  padding:5px; 
				} 
				.thumb img:hover { 
				  filter: gray; /* IE6-9 */ 
				  -webkit-filter: grayscale(1); 
				} 
				.thumb { 
				  padding:5px; 
				} 
				</style>
				 <div class="row"> 
				 				 				</div> 
												
											</div>
				</div>
			</div>
		</div>
	</div>
