---
layout: su3
title: Реконструкция в Туле
description: Наша фирма занимается реконструкцией сооружений как частично, так и в полном виде. Старые ветхие здания являются объектом архитектуры, ведь каждому будет интересно, как выглядело здание век или полвека назад. Но если оно все износилось и балки прогнили? Это не беда, за такую работу возьмутся наши профессионалы и реконструируют помещение в первоначальном виде.
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
	
			<div class="row">
				<div class="col-xs-12 crumbs">
					<a href="{{ site.url }}/">Главная</a> / <a href="{{ site.url }}/cat/uslugi/">Виды услуг</a> / {{ page.title }}				</div>
				<div class="col-xs-12">
					<h1 class="h2">{{ page.title }}</h1>
					<img src="{{ site.url }}/f/zdanie1.jpg" class="img-responsive" style="margin-bottom:15px;width:100%;">					
					<p>Также наша фирма занимается реконструкцией сооружений как частично, так и в полном виде. Старые ветхие здания являются объектом архитектуры, ведь каждому будет интересно, как выглядело здание век или полвека назад. Но если оно все износилось и балки прогнили? Это не беда, за такую работу возьмутся наши профессионалы и реконструируют помещение в первоначальном виде.</p>

<p><strong>Реконструкция зданий </strong>– это комплекс мероприятий, связанный с улучшением основных технических показателей постройки (в том числе площадь помещения, пропускная способность, состояние коммуникаций). Реконструкция включает в себя как внешнее преображение здания, так внутренне усовершенствование, упрочнение и украшение. &nbsp;</p>

<p>Порой это требует не только не меньше забот, а даже больше, чем строительство нового здания. Реконструкция заключается в возведении прежнего вида здания с его коммуникациями технологиями тех работ, техникой безопасности.</p>

<p>Бывает и так, что реконструкция менее затратна, чем новая постройка.</p>

<p>В таких случаях используют усиление углеволокном несущих конструкций. Чтобы выбрать тот или иной вариант, нужно посоветоваться с нашим специалистом, который подскажет вам, что лучше использовать.</p>

<p>Но преступить к реконструкции не так-то просто. Для начала нужно собрать все документы. Все манипуляции с реконструкцией помещений регулируются Жилищным кодексом Российской Федерации. Чтобы государство предоставило вам возможность заняться реконструкцией, потребуется минимум три месяца только на сбор тех или иных актов, разрешений, уведомлений и прочее.</p>

<p>&nbsp;</p>

<p><strong>Чтобы получить согласие на реконструкцию здания, вам понадобятся следующие документы:</strong></p>

<p><em>- паспорт</em></p>

<p><em>- проект работ по реконструкции</em></p>

<p><em>- кадастровый паспорт</em></p>

<p><em>- разрешения следующих инстанций: главного архитектора, СЭС, балансодержателя, энергетиков и ПИ</em></p>

<p><em>- страховой полис</em></p>

<p><em>- акт жилищной комиссии</em></p>

<p>Разрешение на проведение работ по реконструкции выдается комитетом по архитектуре и градостроительству. После сбора всех документов, пакет подается на рассмотрение этому комитету. По истечении десятидневного срока, вам выдается решение. Если спустя это время вы не получили разрешения на реконструкцию, то причиной может послужить недостаток каких либо видов документации. В случае отказа при всех собранных документах, вы можете обратиться в суд. Но стоит помнить, что, если здание носит исторический характер и охраняется законом РФ, то вы не только проиграете суд, но и никогда не сможете реконструировать здание. Оно должно содержаться в своем первоначальном виде.</p>

<p>&nbsp;</p>

<p><strong>Разрешение на реконструкцию здания</strong> не нужно иметь на руках, если вы решили реконструировать такие части здания, которые не относятся к несущим конструкциям (согласно ГСК РФ, статья 51).</p>

<p>При самовольной реконструкции вам грозит административный штраф, либо уголовная ответственность, в зависимости от важности работ.</p>

<p>Для того чтобы реконструировать дом, нужно сначала укрепить фундамент и несущие конструкции. Затем проводится уже полный капитальный ремонт внутреннего и внешнего состояния здания.</p>

<p><strong>Реконструкция старого дома </strong>включает в себя и планировку/перепланировку внутреннего помещения, либо увеличение жилого помещения.</p>

<p>Может сложиться и такая ситуация, когда вы решите увеличить жилую/нежилую площадь. В таких случаях нужно также заняться укреплением фундамента, либо его добавление. Более подробно вам сможет рассказать наш специалист. А также дать всю необходимую консультацию. После фундамента очередь стен, которые тоже нуждаются в своем укреплении. В укреплении нуждается и кровля. Ее можно либо подлатать, либо установить новую.</p>

<p>Жилой дом не подлежит реконструкции без крыши. Для ее ремонта можно использовать два варианта: - устранить повреждения (например, залить цементом); - замена кровли полностью (крышу можно покрыть профнастилом, черепицей, ондуллин).</p>

<p>&nbsp;</p>

<p><strong>Основные задачи, связанные с реконструкцией старого дома</strong></p>

<p><em>- полная замена старых деревянных частей (в случае отсырения);</em></p>

<p><em>- укрепление фундамента;</em></p>

<p><em>- ремонт водостоков;</em></p>

<p><em>- гидроизоляция помещений (как правило, старые дома этого не имеют);</em></p>

<p><em>- ремонт электропроводки;</em></p>

<p><em>- замена старого материала, из которого изготовлен дом (не секрет, что ранее могли использовать такие материалы, которые сейчас опасно использовать, такими материалами выступает асбест, свинец и другие соединения, которые смогут удалить только профессионалы). </em></p>

<p><em>&nbsp;</em>- упрочнение/замена окон (не только рам, но и стекла).</p>

<p>&nbsp;</p>

<p>Под реконструкцией частного дома подразумевают полное восстановление, либо увеличение площади проживания. При любом виде работ стоит, в первую очередь, укрепить прежний фундамент, а затем заняться стенами. Если стены имеют трещины – это первый позыв к тому, что фундамент требует к себе особого внимания.</p>

<p><strong>&nbsp;</strong><strong>Обрушение стены</strong> может произойти в результате плохой гидроизоляции газосиликатных и пенобетонных блоков.</p>

<p>Для того, чтобы реконструкция была выполнена качественно нужно: выявить элементы, нуждающиеся в замене, определить материал из которого сделан дом и из какого будет реконструироваться, в общем, оценить полностью состояние этого помещения. Это нужно, чтобы быть уверенным в наших манипуляциях, ведь если потрескались стены и просел фундамент, не стоит строить пристройку. В первую очередь – это ваша безопасность.</p>

<p>После того, как между нами все согласовано, нужно подать необходимые документы в администрацию, в чьем ведении находится территория дома, чтобы получить добро на реконструкцию.</p>

<p>Реконструкция частного дома возможна своими силами, если он небольшой, несложный, либо был построен своими силами. &nbsp;В других случаях непременно нужно обратиться к помощи профессиональных строителей. Наш специалист может приехать к вам для оценки состояния вашего дома, для полной консультации. Зачастую ремонт частного дома не предоставляет сложностей. Все делается быстро и качественно в короткие сроки.</p>

<p>После завершения выполнения всех работ по реконструкции дома, заключается акт приемки-передачи работы в присутствии особой приемочной комиссии. И после реконструкции на дом составляется технический паспорт, и он регистрируется в соответствующе&nbsp; инспекции.</p>

<p>&nbsp;Если комиссия обнаружит какие-либо нарушения, то она вправе требовать возвращения постройки в исходное состояние.</p>

<p><strong>Реконструкцию зданий и сооружений </strong>необходимо проводить в случае износа элементов конструкции, увеличения нагрузки на стены или изменения состояния фундамента. Если происходит реконструкция промышленного объекта, компания часто обязана обеспечить привычное функционирование предприятия вне зависимости от проводимых технических работ. Но в большинстве случаев при реконструкции зданий происходит выселение жильцов, частичное или полное освобождение помещения от дополнительных элементов.</p>

<p>В случае проведения работ, связанных с реконструкцией зданий и сооружений, необходимо учитывать все детали. Выбирая <strong>метод реконструкции</strong>, проектировщики ориентируются на техническое состояние постройки, состояние окружающей среды, возможность проведения работы в краткие сроки без остановки производства.</p>
				</div>
			</div>
			
				<style> 
				.thumb img { 
				  filter: none; /* IE6-9 */ 
				  -webkit-filter: grayscale(0); 
				  border-radius:5px; 
				  background-color: #fff; 
				  border: 1px solid #ddd; 
				  padding:5px; 
				} 
				.thumb img:hover { 
				  filter: gray; /* IE6-9 */ 
				  -webkit-filter: grayscale(1); 
				} 
				.thumb { 
				  padding:5px; 
				} 
				</style>
				 <div class="row"> 
				 				 				</div> 
												
											</div>
				</div>
			</div>
		</div>
	</div>
