---
layout: su3
title: Сметная документация
description: Мы готовы для Вас разработать сметную документацию на Ваш объект для различных задач - определение стоимости строительства и каждого цикла работ в отдельности, предоставление документов в суд и другие проверяющие органы. Так же мы можем провести экспертизу Ваших смет, подготовить КС-2, КС-3, КС-6, М-29 и другие виды сметной документации по Вашим сметам, проверить соответствие объемов работ проектной документации, оптимизировать Вашу смету для выполнения условий заказчика.
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
	
			<div class="row">
				<div class="col-xs-12 crumbs">
					<a href="{{ site.url }}/">Главная</a> / <a href="{{ site.url }}/cat/uslugi/">Виды услуг</a> / {{ page.title }}				</div>
				<div class="col-xs-12">
					<h1 class="h2">{{ page.title }}</h1>
					<img src="{{ site.url }}/f/sostavleniesmety.jpg" class="img-responsive" style="margin-bottom:15px;width:100%;">					
					<p>Мы готовы для Вас разработать сметную документацию на Ваш объект для различных задач: определение стоимости строительства и каждого цикла работ в отдельности, предоставление документов в суд и другие проверяющие органы. Так же мы можем провести экспертизу Ваших смет, подготовить КС-2, КС-3, КС-6, М-29 и другие виды сметной документации по Вашим сметам, проверить соответствие объемов работ проектной документации, оптимизировать Вашу смету для выполнения условий заказчика.</p>

<p>Мы готовы в кратчайшие сроки составить сметы, КС-2, КС-3 и подготовить необходимую сметную документацию.</p>

<p>Актуальная нормативная база</p>

<p>Сметная документация выполняется с использованием новейших, лицензированных нормативных баз ФЕР-2001, ГЭСН-2001, ТЕР-2001 Нижегородской области в программном комплексе ГРАНД-СМЕТА</p>

<h3 style="text-align: center;"><strong>Экономия 70%</strong></h3>

<p>Сотрудничать с группой компаний&nbsp;«Строительное управление №3» намного выгодней чем держать сметчика в штате: Вы платите только за выполненную работу. Никаких ежемесячных зарплат , отпускных, больничных. Не нужно организовывать рабочее место сотрудника. Нет необходимости покупать лицензионную программу и обновлять базу данных каждый квартал. Ваши сметы всегда выполнены грамотно и в срок. Мы всегда готовы помочь в решении вопросов, на которые вам не удалось найти ответ.</p>

<h3 style="text-align: center;"><strong>100% Гарантия</strong></h3>

<p>Главное правило нашей компании — наши клиенты должны всегда остаться довольны от сотрудничества с ГК «Строительное управление №3». Поэтому наши менеджеры делают все, чтобы каждый клиент получил своевременное оказание сметных услуг и захотел снова обратиться за помощью к нам. Мы можем гарантировать качество оказываемых услуг, потому что контролируем работу наших сотрудников на нескольких уровнях и ставим профессионализм во главу философии компании.</p>

<p>&nbsp;</p>
				</div>
			</div>
			
				<style> 
				.thumb img { 
				  filter: none; /* IE6-9 */ 
				  -webkit-filter: grayscale(0); 
				  border-radius:5px; 
				  background-color: #fff; 
				  border: 1px solid #ddd; 
				  padding:5px; 
				} 
				.thumb img:hover { 
				  filter: gray; /* IE6-9 */ 
				  -webkit-filter: grayscale(1); 
				} 
				.thumb { 
				  padding:5px; 
				} 
				</style>
				 <div class="row"> 
				 				 				</div> 
												
											</div>
				</div>
			</div>
		</div>
	</div>
