---
layout: su3
title: Строительные работы в Туле
description: В первую очередь большинство заказчиков интересуется расценкой на какие-либо услуги. Это правильно. Мало придумать будущий дом, важно его воплотить в жизнь. А для этого нужно точно знать какие нужны на это затраты.
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
	
			<div class="row">
				<div class="col-xs-12 crumbs">
					<a href="{{ site.url }}/">Главная</a> / <a href="{{ site.url }}/cat/uslugi/">Виды услуг</a> / {{ page.title }}				</div>
				<div class="col-xs-12">
					<h1 class="h2">{{ page.title }}</h1>
					<img src="{{ site.url }}/f/1449689798_rem.jpg" class="img-responsive" style="margin-bottom:15px;width:100%;">					
					<p>В первую очередь большинство заказчиков интересуется расценкой на какие-либо услуги. Это правильно. Мало придумать будущий дом, важно его воплотить в жизнь. А для этого нужно точно знать какие нужны на это затраты. Затраты включают в себя не только стоимость материалов, но и работу специалистов, оформление документов. Расценки на наши работы, вы можете увидеть на нашем сайте.</p>

<p>Мы покажем вам список услуг нашей компании.</p>

<p class="h2 " style="text-align: center;"><strong>Виды</strong></p>

<p>Строительное управление №3 предоставляет следующие виды работ в Туле и по всей области:<img alt="" src="{{ site.url }}/f/rukopozhatie-nad-dokumentami.jpg" style=" float:right;height: 227px; width: 300px; border-width: 1px; border-style: solid; border-radius:3px; padding:3px; margin-right:10px;"></p>

<ul>
	<li>строительные</li>
	<li>монтажные</li>
	<li>отделочные работы</li>
	<li>ремонтные работы</li>
	<li>работы по реконструкции и восстановлению зданий</li>
</ul>

<div class="clearfix">&nbsp;</div>

<p><br>
Далее подробно расскажем о конкретном виде услуг, и что мы в них включаем.</p>

<hr>
<div class="row">
<div class="col-xs-6">
<p>Монтажные работы в строительстве проводят на месте возведения здания, где происходит само строительство. В этой работе выделяют несколько блоков:</p>

<ul>
	<li>рытью котлованов и траншей, вывоз земли;</li>
	<li>работа с арматурой, залив фундамента;</li>
	<li>возведение и облицовка стен, посредством определенных материалов;</li>
	<li>монтаж конструкций и перекрытий;</li>
	<li>монтаж материалов для кровли;</li>
	<li>другие виды работ, относящихся к строительству;</li>
	<li>уборка территории, утилизация строительного мусора.</li>
</ul>
</div>

<div class="col-xs-6">
<p>С отделочными работами знаком, наверное, каждый человек. Такие работы мы выполняем и самостоятельно. Каждые 2-5 лет мы занимаемся ремонтом для обновления интерьера. Такие работы включают в себя:</p>

<ul>
	<li>нанесение нового стенового покрытия;</li>
	<li>монтаж стен, покрытия;</li>
	<li>покрытие пола паркетом, досками, линолеумом и прочими материалами;</li>
	<li>работы по украшению стен, пола, потолка плиткой, камнями, мозаикой и др.;</li>
	<li>выравнивание стен, обнесение их гипсокартонном, нанесение цемента и прочее;</li>
	<li>малярные работы;</li>
	<li>ремонт сантехники;</li>
	<li>ремонт / замена проводки, замена люстр, светильников.</li>
</ul>
</div>
</div>

<hr>
<blockquote>
<p>Еще одним видом работ, оказываемых нашей компанией, является ремонт и строительство. В контексте данного направления ГК Строительное управление №3 оказывает такие виды услуг:</p>

<ol>
	<li>Монтаж, демонтаж и ремонт основы домов и внешнего вида;</li>
	<li>Планировка и перепланировка внутреннего состояния помещения. Установка/замена дверей, окон и прочее;</li>
	<li>Ремонтные работы / установка водо- и теплоснабжения помещения;</li>
	<li>Электро-работы;</li>
	<li>Стены (демонтаж перегородок, штукатурки, гипсокартона, ниш и так далее);</li>
	<li>Возведение стен и перегородок из различных материалов.</li>
</ol>
</blockquote>

<p>Не стоит оставлять без внимания и то, что все эти виды достаточно условны. Каждый комплекс работ включает в себя несколько видов работ, все переплетается между собой. Позвонив нам, вы убедитесь в этом, а наши специалисты вам помогут.</p>
				</div>
			</div>
			
				<style> 
				.thumb img { 
				  filter: none; /* IE6-9 */ 
				  -webkit-filter: grayscale(0); 
				  border-radius:5px; 
				  background-color: #fff; 
				  border: 1px solid #ddd; 
				  padding:5px; 
				} 
				.thumb img:hover { 
				  filter: gray; /* IE6-9 */ 
				  -webkit-filter: grayscale(1); 
				} 
				.thumb { 
				  padding:5px; 
				} 
				</style>
				 <div class="row"> 
				 				 				</div> 
													<div class="row">
							<div class="col-xs-12">
								<hr>
							</div>
														<div class="col-xs-4">
								<div class="text_pred">
									<div class="text_pred_zag">
										<p>Аренда строительных лесов</p>
									</div>
									<div class="text_pred_img">
																				<img src="{{ site.url }}/f/3 (1).jpg" class="img-responsive" style="height: 200px;">
																			</div>
									<div class="text_pred_info">
																				<a class="btn btn-primary" href="{{ site.url }}/cat/uslugi/stroyka/lesa/">Подробнее...</a>
									</div>
								</div>
							</div>
													</div>
											
											</div>
				</div>
			</div>
		</div>
	</div>
