---
layout: su3
title: Бюджетные организации
description: "Группа компаний «Строительное управление №3» основана в 2013 году, входящее в СРО НП «Саморегулируемая организация «Объединение строителей Тульской области», имеет допуски ко всем видам проектных работ является гарантом высокого качества."
tags: [Строительное управление, Строительная компания, строительство в Туле, строительство, Тула, строительная организация]
comments: false
---

<div class="container-fulid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 ">
					<div class="text_part">
						<style>
	div.gruz{
		position:relative;
		margin-top: 20px;
		margin:0 auto;
		background-image:url(i/gruz.png);
		background-repeat:no-repeat;
		background-position:center;
		height: 735px;
		background-size:100%;
	}
	div.gruz>a {
		font-family:arial;
		color:#333;
		display:block;
		position:absolute;
		font-size:14px;
	}
	a {font-family:arial;}
	div.dop_rab>a{
	display:inline-block;
		color:#fff;
	}
	div.dop_rab>p{	
		font-weight:bold;
		font-family:arial;
	}
	div.dop_rab{
		position:absolute;
		width: 200px;
		padding: 10px;
		bottom:0px;
		background-color: rgba(0,0,0,.5);
		color: #f00;
		border-radius:3px;
	}
	</style>
	
	
			<div class="row">
				<div class="col-xs-12 crumbs">
					<a href="{{ site.url }}/">Главная</a> / <a href="{{ site.url }}/cat/etapi/">Этапы работ</a> / {{ page.title }}				</div>
				<div class="col-xs-12">
					<h1 class="h2">{{ page.title }}</h1>
					<img src="{{ site.url }}/f/0_a6b77_ed89a07f_xxxl.jpg" class="img-responsive" style="margin-bottom:15px;width:100%;">					
					<p><span style="font-size:18px;"><img src="{{ site.url }}/f/checklist1.jpg" style="width:180px;float:left;margin:10px;"></span></p>

<ul>
	<li><span style="font-size:18px;">консультация</span></li>
	<li><span style="font-size:18px;">выезд</span></li>
	<li><span style="font-size:18px;">формирование технического задания</span></li>
	<li><span style="font-size:18px;">заключение договора</span></li>
	<li><span style="font-size:18px;">сдача-приемка работ</span></li>
	<li><span style="font-size:18px;">согласование документации в различных инстанциях</span></li>
	<li><span style="font-size:18px;">авторский надзор</span></li>
</ul>
				</div>
			</div>
			
				<style> 
				.thumb img { 
				  filter: none; /* IE6-9 */ 
				  -webkit-filter: grayscale(0); 
				  border-radius:5px; 
				  background-color: #fff; 
				  border: 1px solid #ddd; 
				  padding:5px; 
				} 
				.thumb img:hover { 
				  filter: gray; /* IE6-9 */ 
				  -webkit-filter: grayscale(1); 
				} 
				.thumb { 
				  padding:5px; 
				} 
				</style>
				 <div class="row"> 
				 				 				</div> 
												
											</div>
				</div>
			</div>
		</div>
	</div>
