blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #eee;
}
div.text_part .zag{
	background-color:#333;
	background-size:100% auto;
	background-position:center bottom;
	text-align:center;
	color:#fff;
	padding:5px;
}

body{
	background-image:url(/i/bg.jpg);
	overflow-x:hidden;
	background-position:center;
	background-repeat:no-repeat;
	color: #626262;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.col_20{
	width:20%;
	float:left;
	padding:0px 15px;
}

p.phone{
	font-size: 20px;
	color: #aaa;
	line-height: 35px;
	margin: 0px;
}
.item{
    background: #333;    
    text-align: center;
    height: 400px !important;
}
.item img{
	width:100%;
	height:100%;
}
.carousel{
    margin-top: 0px;
}
.navbar{
	margin-bottom:0px;
	border-radius: 0px;
}

div.cnvs{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}
div.cnvs p.ttl{
	font-weight: 800 !important;
	font-size: 20px;
    line-height: 130%;
	margin: 0px 0;
	width: 100%;
    float: left;
	color:#fff;
	text-align:center;
}
div.cnvs div.img_block p.ttl span{
	color: #4b61f2;
}
div.cnvs div.img_block p.sub_ttl{
	color: #bfbfbf;
	float: left;
    width: 100%;
	text-align:center;
}
div.cnvs div.img_block img{
	    width: 100px;
    margin: 0 auto;
    display: block;
}
div.text_part{
	background-color:#fff;
	padding: 15px;
}
div.text_part h1{
	/*background-image:url(/i/yNcGd8.jpg);*/
	background-color:#333;
	background-size:100% auto;
	background-position:center bottom;
	text-align:center;
	color:#fff;
	padding:5px;
}
div.text_part div.text_pred{
	background: #FFFFFF;
    border: solid 1px #DDDDDD;
    padding: 18px;
	margin-bottom:15px;
}
div.text_part div.text_pred div.text_pred_zag{
	background: #E51F1F;
	float: left;
    margin-left: -19px;
    color: #fff;
    padding: 5px;
	margin-top:-5px;
	margin-bottom:10px;
}
div.text_part div.text_pred div.text_pred_zag p{
	margin:0px;
}
div.text_part div.text_pred div.text_pred_img {
	margin-bottom:10px;
	    height: 200px;
    overflow-y: hidden;
    width: 100%;
}
div.text_part div.text_pred div.text_pred_img img{
	width:100%;
}
div.text_part div.text_pred div.text_pred_info{
	
}
div.footer_menu{
	width:100%;
	float:left;
	background: rgba(46,46,46,0.8);
    border: solid 1px #2E2E2E;
    padding: 18px;
    color: #B7B6B6;
	height:190px;
}
div.footer_menu div.footer_menu_header{
	background: #444444;
	float: left;
    margin-left: -19px;
    color: #fff;
    padding: 5px;
	margin-top:-5px;
	margin-bottom:10px;
}
div.footer_menu div.footer_menu_header p{
	margin:0px;
}
div.footer_menu div.footer_menu_contant{
	float:left;
	width:100%;
}
div.footer_menu div.footer_menu_contant ul{
	padding:0px;
	list-style-type:none;
}
div.footer_menu div.footer_menu_contant ul a{
    color: #B7B6B6;
	line-height:150%;
}
div.col_22{
	padding:0px 15px;
	width:22%;
	float:left;
}
div.col_44{
	padding:0px 15px;
	width:44%;
	float:left;
}
div.col_34{
	padding:0px 15px;
	width:34%;
	float:left;
}
.menu_bg{
	background-color:#222;
}
.navbar-inverse {
    background-color: #222;
    border-color: #222;
}

@media (min-width: 768px){
	.navbar-nav > li {
		float: none;
		display: table-cell;
		text-align: center;
	}
	.navbar-nav {
		float: left;
		margin: 0;
		display: table;
		width: 100%;
	}
}
.btn{
	-webkit-transition: all .3s ease-out .3s;
     -moz-transition: all .3s ease-out .3s;
     -o-transition: all .3s ease-out .3s;
     transition: all .3s ease-out .3s;
}
.btn-primary{
	border-radius: 0px;
    background-color: #fff;
    color: #2e6da4;
    font-weight: bold;
    border-width: 2px;
}
.btn-primary:hover{
	border-radius: 0px;
    background-color: #2e6da4;
    color: #fff;
    font-weight: bold;
    border-width: 2px;
	border-color:#fff;
}
.footer_white{
	margin:0px;
	text-align:right;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
display: block;
}

.modal-backdrop{
	display:none !important;
}
.modal_convas{
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
}
.smal_modal{
	width: 300px;
}
.modal.in .modal-dialog {
	padding: 10px;
    background-color: #fff;
}
.modal-content{
	border: 0px solid #737373;
	border-radius: 0px;
	box-shadow:0px 0px 0px 
}
.modal-header {
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
	text-align:center;
}
.modal-body .form-control{
	/*border: 0px;
    box-shadow: inherit;
    border-bottom: 1px solid #000;
    border-radius: 0;
    color: #000;*/
}
.modal-footer button{
	font-size: 20px;
}
.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 0px solid #e5e5e5;
}
.modal-header h4{
	text-transform:uppercase;
	font-size: 30px;
    /*font-weight: bold;*/
	    color: #337ab7;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #989898;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}



.lib-panel {
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
      min-height: 220px;
}
.lib-panel img {
  width: 100%;
  background-color: transparent;
      min-height: 215px;
}
.lib-panel .row,
.lib-panel .col-md-6 {
  padding: 0;
  background-color: #FFFFFF;
}
.lib-panel .lib-row {
  padding: 0 20px 0 20px;
}
.lib-panel .lib-row.lib-header {
  background-color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}
.lib-panel .lib-row.lib-header .lib-header-seperator {
  height: 2px;
  width: 26px;
  background-color: #d9d9d9;
  margin: 7px 0 7px 0;
}
.lib-panel .lib-row.lib-desc {
  position: relative;
  display: block;
  font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 20px;
}
.row-margin-bottom {
  margin-bottom: 20px;
}
.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}
