<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include su3-head.html %}
</head>

<body id="post-index">
	
{% include su3-header.html %}
{% include su3-slider.html %}
{% include su3-menu2.html %}

<div id="main" role="main">
  {{ content }}
</div><!-- /#main -->

{% include su3-analitics.html %}

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include su3-footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

</body>
</html>
